---
import "@/styles/globals.css";
import Prose from "@/components/Prose.astro";
import * as studio from "@/markdown/studio-art.md";
import Layout from "@/layouts/layout.astro";

const title = studio.frontmatter.title;
---

<Layout title={title}>
  <h1 class="font-bold text-3xl mb-4 py-4 px-10">{studio.frontmatter.title}</h1>
  <div class="px-10 py-5">
    <Prose>
      <studio.Content />
    </Prose>
  </div>
</Layout>
